<launch>
<include file="$(find zed_wrapper)/launch/zed2i.launch">
<!-- <arg name="openni_depth_mode" value="1"/> -->
</include>
<include file="$(find velodyne_pointcloud)/launch/32e_points.launch">
<arg name="calibration" value="$(find sensor_suite)/32db.yaml"/>
</include>
<node pkg="sensor_suite" type="segmentation" name="segmentation_node"/>
<node pkg="sensor_suite" type="cluster" name="cluster_node"/>
<node pkg="arcturus_pilot" type="tf2.py" name="transform_node"/>
</launch>
