<?xml version="1.0" ?>
<model>
    <name>racquetball</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Herbert Turner</name>
        <email>hmturner@mit.edu</email>
    </author>
    <description>Racquetball for skeeball and ocean cleanup tasks</description>
</model>
