[submodule "src/zed-ros-wrapper"]
	path = src/zed-ros-wrapper
	url = git@github.com:stereolabs/zed-ros-wrapper.git
[submodule "src/iq_gnc"]
	path = src/iq_gnc
	url = https://github.com/Intelligent-Quads/iq_gnc.git
[submodule "src/sim_suite"]
	path = src/sim_suite
	url = https://github.com/ARcturusNavigation/sim_suite
[submodule "src/src/lidar_obstacle_detector"]
	path = src/src/lidar_obstacle_detector
	url = https://github.com/SS47816/lidar_obstacle_detector.git
[submodule "src/lidar-obstacle-detector"]
	path = src/lidar-obstacle-detector
	url = https://github.com/SS47816/lidar_obstacle_detector.git
