[submodule "src/perception/zed-ros-wrapper"]
	path = src/perception/zed-ros-wrapper
	url = git@github.com:stereolabs/zed-ros-wrapper.git
[submodule "src/simulation/sim_suite"]
	path = src/simulation/sim_suite
	url = https://github.com/ArcturusNavigation/sim_suite
[submodule "src/perception/lidar_obstacle_detector"]
	path = src/perception/lidar_obstacle_detector
	url = https://github.com/SS47816/lidar_obstacle_detector.git
[submodule "src/perception/hector_slam"]
	path = src/perception/hector_slam
	url = https://github.com/tu-darmstadt-ros-pkg/hector_slam.git
[submodule "src/perception/ar_track_alvar"]
	path = src/perception/ar_track_alvar
	url = git@github.com:ros-perception/ar_track_alvar.git
[submodule "src/navigation/--branch"]
	path = src/navigation/--branch
	url = https://github.com/cra-ros-pkg/robot_localization.git
