<launch>

	<!-- Nodes -->
	<node pkg="perception_suite" type="yolov5_detector.py" name="yolov5"/>
	<node pkg="pilot_suite" type="pwm_sender.py"/>
	
	<!-- Launch files -->
	<include file="$(find pilot_suite)/launch/mavros.launch"></include>
	<include file="$(find zed_wrapper)/launch/zed2i.launch"></include>
	<include file="$(find velodyne_pointcloud)/launch/32e_points.launch"></include>
	 
</launch>
