<launch>

	<!-- Nodes Will Be Run By Base Station-->
	<node pkg="perception_suite" type="yolov5_detector.py" name="yolov5"/>
	<node pkg="njord_2023" type="buoy_detector_v1.py" name="buoy_detector"/>
	
	<!-- Launch files -->
	<include file="$(find pilot_suite)/launch/mavros.launch"></include>
	<include file="$(find zed_wrapper)/launch/zed2i.launch"></include>
	<node pkg="pilot_suite" type="mode_listener.py" name="mode_listener"/>
</launch>
