<launch>

	<!-- Nodes -->
	<node pkg="perception_suite" type="yolov5_detector.py" 	   name="yolov5"/>
	<node pkg="perception_suite" type="buoy_detector.py"   	   name="buoy_detector"/>
<!--<node pkg="controller_suite" type="thruster_controller.py" name="thruster_controller"/>-->
	
	<!-- Launch files -->
	<include file="$(find pilot_suite)/launch/mavros.launch"></include>
	<include file="$(find zed_wrapper)/launch/zed2i.launch"></include>

</launch>
