<launch>

	<arg name="model" />
  	<param
    name="robot_description"
    textfile="$(find boat_description)/urdf/norway.urdf" />

 	<node
		name="robot_state_publisher"
		pkg="robot_state_publisher"
		type="robot_state_publisher" 
	/>
	<!-- vim: set ft=xml noet : -->
	<node pkg="robot_localization" type="ekf_localization_node" name="ekf_local" clear_params="true">
		<rosparam command="load" file="$(find robot_localization)/params/ekf.yaml" />
	</node>

	<!-- <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" clear_params="true">
		<rosparam command="load" file="$(find robot_localization)/params/navsat_transform.yaml" />
		<remap from="/imu/data" to="/mavros/data/imu" />
		<remap from="/gps/fix" to="/mavros/global_position/global" />
	</node> -->

	 <!-- Start rviz with a pre-configured AerialMap instance. It will use the fake GPS fix from above. -->
    <node pkg="rviz" type="rviz" name="gps_rviz" args="-d $(find rviz_satellite)/launch/boat_gps.rviz"/>

	<!-- Start rviz with a pre-configured AerialMap instance. It will use the fake GPS fix from above. -->
    <node pkg="rviz" type="rviz" name="robot_rviz" args="-d $(find robot_localization)/rviz/boat_visualizer.rviz"/>


</launch>
