<?xml version="1.0"?>

<model>
  <name>NavigationDemonstration</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Mark Razanau</name>
    <email>mark.razanau@gmail.com</email>
  </author>

  <description>
    Navigation_Demonstration Challenge for Roboboat competition.
  </description>
</model>