<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find boat_description)/urdf/norway.urdf" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  
  <!-- Start rviz with a pre-configured AerialMap instance. It will use the fake GPS fix from above. -->
  <node pkg="rviz" type="rviz" name="robot_rviz" args="-d $(find boat_description)/rviz/boat_display.rviz"/>

</launch>